<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-3 mt-3" *ngFor="let product of productsList">
          <div class="card" width="350px">
            <img [src]="product.image" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <span class="badge text-bg-primary">₹{{product.price}}</span>
              <span class="badge text-bg-danger">{{product.discount}}%</span>
              <button class="btn btn-primary mt-3" [ngClass]="{'unavilable-products':product.isStockAvailable==false}" (click)="OnItemAdd(product)"  [disabled]="!product.isStockAvailable">Add to cart</button>
               </div>
              </div>
            </div>
          </div>
          </div>
      <div class="col-4">
        <div >
        <h3 class="text-center">Cart</h3>
        <div class="text-center" *ngIf="selectedItems.length===0">
        <span>No items selected!</span>
        </div>
        </div>
        <ol class="list-group list-group-numbered " >
  <li class="list-group-item d-flex justify-content-between align-items-start mt-3" *ngFor="let item of selectedItems;let i=index">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{item.name}}</div>
     <div [ngSwitch]="item.category">
      <span *ngSwitchCase="'Electronics'" style="color:aqua">{{item.category}}</span>
      <span *ngSwitchCase="'Fashion'" style="color:deepskyblue">{{item.category}}</span>
     </div>
    </div>
   <div class="mt-3 ">
     <span class="badge text-bg-primary rounded-pill price ">{{item.price}}</span>
   <span (click)="OnRemoveItem(item,i)">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg>
   </span>
   </div>
  </li>
</ol>
<div class="mt-3">
<h3>Total Amount:Rs.{{cartItemsTotalPrice()}}</h3>
</div>
     </div>
    </div>
  </div>


    